@font-face {
  font-family: "Bookman Std";
  src: url("./../fonts/bookman/BookmanStd-Light.otf");
  font-weight: 200;
}
@font-face {
  font-family: "Bookman Std";
  src: url("./../fonts/bookman/BookmanStd-LightItalic.otf");
  font-style: italic;
  font-weight: 200;
}
@font-face {
  font-family: "Bookman Std";
  src: url("./../fonts/bookman/BookmanStd-MediumItalic.otf");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Bookman Std";
  src: url("./../fonts/bookman/BookmanStd-Medium.otf");
  font-weight: 300;
}
@font-face {
  font-family: "Bookman Std";
  src: url("./../fonts/bookman/BookmanStd-Demi.otf");
  font-weight: 800;
}
@font-face {
  font-family: "Bookman Std";
  src: url("./../fonts/bookman/BookmanStd-DemiItalic.otf");
  font-style: italic;
  font-weight: 800;
}

@font-face {
  font-family: "Bookman Std";
  src: url("./../fonts/bookman/BookmanStd-bold.otf");
  font-weight: 900;
}

@font-face {
  font-family: "Bookman Std";
  src: url("./../fonts/bookman/BookmanStd-BoldItalic.otf");
  font-weight: 900;
  font-style: italic;
}