$primary-bg: #199bf1;
$primary-color: white;
$secondary-color: black;

$small-light-bg: #46aff4;
$medium-light-bg: #74c3f7;
$large-light-bg: #a2d7fa;
$big-light-bg: #d1ebfc;
$lightest-bg: #f1f9fe;

$small-dark-bg: #0d8de2;
$medium-dark-bg: #0c7dc8;
$large-dark-bg: #0a6daf;
$big-dark-bg: #095e96;
$darkest-bg: #074e7d;
